mat-dialog-container{
  justify-content: center;
}
.mat-mdc-dialog-content{
  justify-content: center;
  //width: 1200px;
  height: 900px;
  max-height: 900px;
}

.mat-mdc-dialog-content img{
  justify-content: center;
  //width: 1200px;
  height: 900px;
  max-height: 800px;
  max-width: 1150px;
  object-fit: fill;
}
