/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;


html, body { height: 90%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;}

.mat-mdc-list-option .mdc-radio{
  display: none !important;
}

mat-list-option[aria-selected="true"] {
  background: #3c14aab3;
  color:aliceblue;

}

.text-center{
  text-align: center;
}

.text-center.section-title{
  color: #3c14aab3;
  font-size: 40px;
}

.top-left .mat-grid-tile-content {
  justify-content: start !important ;
  align-items: start !important;
}

.grid-resume{
  margin-top: 5%;
}

.mat-mdc-progress-bar {
  --mdc-linear-progress-active-indicator-color: #3c14aab3;
  --mdc-linear-progress-track-color: #6e58a7b3;
}
